html { 
  margin:0;
  padding:0;
  background: url(../pictures/bg-1.jpg) no-repeat center fixed;   
  -webkit-background-size: cover; 
  background-size: cover; 
}

body{
    background-color: transparent!important;
}